/* FILEPATH: /c:/Users/ndvie/OneDrive/Documents/University/INT/OOP/yranoitcid/src/main/resources/style.css */

.root {
    primary-color: #27374D;
    accent-color: #526D82;
    neutral-color: #9DB2BF;
    light-color: #EBF7FF;
    green-color: #20e170;
    red-color: #de3030;
    text-color: #DDE6ED;

    -fx-font-family: 'Helvetica';
    -fx-font-weight: 400;
    -fx-line-spacing: 1.5;
    -fx-background-color: neutral-color;
}

.main-pane {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color;
}

.side-bar {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color; 
}

.side-bar-button {
    -fx-font-size: 16px;
    -fx-background-color: primary-color;
    -fx-text-fill: text-color
}

.side-bar-button-hover-overlay {
    -fx-background-color: #fff;
    -fx-opacity: 0.5;
}

.side-bar-button-selected-overlay {
    -fx-background-color: accent-color;
    -fx-text-fill: text-color;
}

.transparent-background {
    -fx-background-color: transparent;
}

.welcome-screen-title {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color;
    -fx-font-size: 50px;
    -fx-font-weight: 700;
}

.welcome-screen {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color;
    -fx-font-size: 20px;
}

.welcome-screen-bold {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color;
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.result-list {
    -fx-font-size: 16px;
    -fx-background-color: light-color;
    -fx-background-radius: 3px;
}

#settingsPane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.main-pane-tab {
    -fx-background-color: accent-color;
    -fx-text-fill: text-color;
    -fx-font-size: 16px;
}

.main-pane-tab:selected {
    -fx-background-color: primary-color;
    -fx-text-fill: text-color;
    -fx-font-size: 16px;
}

.tab-label {
    -fx-background-color: transparent;
    -fx-text-fill: text-color;
    -fx-font-size: 16px;
}

/* 
.button:hover {
    -fx-background-color: accent-color;
    -fx-text-fill: #dde6ed;
} */

.background {
    -fx-background-color: neutral-color;
}

.white-background {
    -fx-background-color: #fff;
}

.transparent-background {
    -fx-background-color: transparent;
}

/* Text */

.dark-text {
    -fx-text-fill: black;
}

.text-box {
    -fx-background-color: light-color;
    -fx-font-size: 16px;
}

.big-text-box {
    -fx-background-color: light-color;
    -fx-font-size: 20px;
    -fx-padding: 10 10 10 10;
}

#resultTranslate {
    -fx-background-radius: 5px;
    -fx-border-color: light-color;
    -fx-border-width: 10px;
    -fx-border-radius: 5px;
    -fx-font-size: 20px;
    -fx-padding: 10 10 10 10;
}

.normal-light-text {
    -fx-text-fill: text-color;
    -fx-font-size: 16px;
    -fx-background-color: transparent;
}

.big-light-text {
    -fx-text-fill: text-color;
    -fx-font-size: 32px;
    -fx-background-color: transparent;
}

.dialog {
  -fx-background-color: primary-color;
}

.dialog:header *.header-panel {
  -fx-background-color: primary-color;
}

.dialog > *.content.label {
  -fx-text-fill: text-color;
}

.dialog:header *.header-panel *.label {
  -fx-text-fill: text-color;
}

.dialog > *.button-bar *.button {
  -fx-padding: 6px 12px;
  -fx-font-family: 'Helvetica';
  -fx-font-weight: 400;
  -fx-line-spacing: 1.5;
  -fx-text-fill: #212529;
  -fx-text-alignment: center;
  -fx-cursor: hand;
  -fx-border-width: 3px;
  -fx-border-color: transparent;
  -fx-border-style: solid;
  -fx-border-radius: 5px;
  -fx-background-style: solid;
  -fx-background-radius: 5px;
}

.dialog > *.button-bar *.button:hover {
  -fx-padding: 6px 12px;
  -fx-font-family: 'Helvetica';
  -fx-font-weight: 400;
  -fx-line-spacing: 1.5;
  -fx-text-fill: #212529;
  -fx-text-alignment: center;
  -fx-cursor: hand;
  -fx-border-width: 3px;
  -fx-border-color: accent-color;
  -fx-border-style: solid;
  -fx-border-radius: 5px;
  -fx-background-style: solid;
  -fx-background-radius: 5px;
}

/* Button base */
.btn {
    -fx-padding: 6px 12px;
    -fx-font-family: 'Helvetica';
    /*-fx-font-size: 16px;*/
    -fx-font-weight: 400;
    -fx-line-spacing: 1.5;
    -fx-text-fill: #212529;
    -fx-text-alignment: center;
    -fx-cursor: hand;
    -fx-border-width: 3px;
    -fx-border-color: transparent;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-background-style: solid;
    -fx-background-radius: 5px;
}

.btn:hover {
    -fx-padding: 6px 12px;
    -fx-font-family: 'Helvetica';
    /*-fx-font-size: 16px;*/
    -fx-font-weight: 400;
    -fx-line-spacing: 1.5;
    -fx-text-fill: #212529;
    -fx-text-alignment: center;
    -fx-cursor: hand;
    -fx-border-width: 3px;
    -fx-border-color: accent-color;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
    -fx-background-style: solid;
    -fx-background-radius: 5px;
}

/* Quiz choice button */

.answer-btn {
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-background-color: primary-color;
  -fx-text-fill: text-color;
  -fx-border-color: accent-color;
  -fx-border-width: 10px;
  -fx-cursor: hand;
}

.answer-btn:hover {
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-background-color: primary-color;
  -fx-text-fill: text-color;
  -fx-border-color: neutral-color;
  -fx-border-width: 12px;
  -fx-cursor: hand;
}

.answer-btn-correct {
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-background-color: primary-color;
  -fx-text-fill: text-color;
  -fx-border-color: green-color;
  -fx-border-width: 12px;
}

.answer-btn-wrong {
  -fx-alignment: center;
  -fx-text-alignment: center;
  -fx-background-color: primary-color;
  -fx-text-fill: text-color;
  -fx-border-color: red-color;
  -fx-border-width: 12px;
}

.question-btn {
  -fx-background-color: neutral-color;
}

.question-btn-correct {
  -fx-background-color: green-color;
}

.question-btn-wrong {
  -fx-background-color: red-color;
  -fx-text-fill: text-color;
}
